<%= link_to "Crear Todo", todos_new_path %>
<% @todos.each do |todo| %>
<div class="card">
  <div class="card-block">
    <p class="card-text"><%= todo.description %></p>
    <%= link_to "Show", todo_path(todo.id) %>
    <%= link_to "Edit", todo_edit_path(todo.id) %>
  </div>
</div>
<% end %>
